
.principal-section{
    height: 90%;
    border-radius: 30px;
    margin: 30px;
    display: flex;
    flex-direction: row;
}

.recepie1-section {
    background-color: rgb(254,238,238);
    display: flex;
    margin: 30px;
    border-radius: 20px;
    width: 25%;
    flex-direction: column;
}
.recepie2-section {
    background-color: rgb(254,238,238);
    display: flex;
    margin: 30px;
    border-radius: 20px;
    width: 25%;
    flex-direction: column;
}
.recepie3-section {
    background-color: rgb(254,238,238);
    display: flex;
    margin: 30px;
    border-radius: 20px;
    width: 25%;
    flex-direction: column;
}
.recepie4-section {
    background-color: rgb(254,238,238);
    display: flex;
    margin: 30px;
    border-radius: 20px;
    width: 25%;
    flex-direction: column;
}
h2{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
